# Dependencies
/node_modules

# Build output
/dist
/out-tsc

# IDE
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
.idea/
*.iml

# Misc
.angular/cache
.sass-cache/
npm-debug.log
yarn-error.log
.env
*.log

# System files
.DS_Store
Thumbs.db
